<!DOCTYPE html>
  <html>
    <head>
      <title>Shoe Stores</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel='stylesheet' href='/styles.css'>
      <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    </head>
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-top">
        <a href="/"><span class="navbar-brand"><p>Shoe Stores!</p></span></a>
        <ul class="nav navbar-nav navbar collapse navbar-collapse">
          <li>
            <a href="/"><p>Placeholder #1</p></a>
          </li>
          <li>
            <a href="/"><p>Placeholder #2</p></a>
          </li>
        </ul>
      </nav>
        <%= yield %>
    </body>
  </html>
